body{
    height: 100%;
    background-color: #f4fefe;
}

.nav-wrapper { 
    background-color: #6d071a;
}

.btn {
    background-color: #a93226  ;
}

.btn:hover{
    background-color: #7b241c;
}

.brand-logo { 
    margin-left: 10px; 
}

.list-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.list-card .card {
    padding: 1em 2em;
    margin: 1em;
    min-width: 25em;
    background-color:  #f4f6f6 !important;
}

.dropdown-content li > a, .dropdown-content li > span {
    color: #a93226;
}