<div class="container">
    <h3 id="title-jalon">Jalons Placeholder</h3>
    <a class="waves-effect waves-light btn" onclick="navigate('projet');"><i class="material-icons left">arrow_back</i>Retour</a><br/>
    <div id="jalons-liste" class="list-card"></div>
    <a class="waves-effect waves-light btn" id="ajout-projet" onclick="exigenceController.insertJalon()">Créer un Jalon</a>
</div>

<!-- Modal Structure Pour la modification de liste -->
<div id="modal-crud-jalon" class="modal">
    <div class="modal-content">
        <h4 class="modal-title">Placeholder titre</h4>
        <div class="row">
            <div class="col s5">
                <label for="inputLibelleJalon">Libelle du Jalon</label>
                <input id="inputLibelleJalon" type="text" class="input-field">
            </div>
            <div class="col s1"></div>
            <div class=" col s5 input-field">
            <label for="inputReponsable" class="validate">Responsable du Jalon</label>
            <input type="text" id="inputReponsable" class="autocomplete">
            </div>
        </div>
        <div class="modal-footer">
            <a id="btn-valid-projet" class="waves-effect waves-light btn" onclick="jalonController.validateJalon()"><i class="material-icons left">check</i>Valider</a>
            <a class="modal-close waves-effect waves-teal btn-flat">Quitter</a>
        </div>
    </div>
</div>