<div class="container">
    <h3 id="title-projet">Projet Placeholder</h3>
    <a class="waves-effect waves-light btn" onclick="navigate('index');"><i class="material-icons left">arrow_back</i>Retour</a><br/>

    <b>Chef de Projet : </b><span id="detail-projet-chef"></span><br/>
    <b>Date de Début : </b><span id="detail-projet-debut"></span><br/>
    <b>Date de Fin Théorique : </b><span id="detail-projet-finT"></span><br/>
    <b>Date de Fin Réelle : </b><span id="detail-projet-finR"></span><br/>

    <div id="liste-detail-proj" class="list-card">
        <div id="exigences-liste" class="list-card"></div>

        <div id="jalons-liste" class="list-card"></div>

        <div id="taches-liste" class="list-card"></div>
    </div>
</div>